pip3 unstall postgresql
pip3 unstall numpy 
pip3 unstall postgresql.driver 
pip3 unstall csv
pip3 unstall requests
pip3 unstall pandas 
pip3 unstall xlrd
pip3 unstall xlwt
pip3 unstall openpyxl
pip3 unstall datetime
